@charset "UTF-8";
body {
  font-family: "EB Garamond", serif;
  background-color: rgb(255, 251, 245);
}
body h1 {
  font-size: 5rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 2.5rem;
  padding-left: 2rem;
}

a.nav-link {
  font-size: 1.2rem;
}

a.nav-link:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
}
.hero .containter-hero-titulo {
  width: 40%;
  text-align: left;
  padding: 10% 4% 0 8%;
}
.hero .containter-hero-titulo .animate__animated.animate__fadeIn {
  animation-duration: 2s;
}
.hero .containter-hero-titulo span {
  font-size: 4rem;
}
.hero .container-hero-galeria {
  width: 60%;
  display: flex;
  align-items: center;
}
.hero .container-hero-galeria .animate__animated.animate__fadeIn {
  animation-duration: 3s;
}
.hero .container-hero-imagen {
  overflow: hidden; /* Oculta contenido que exceda los límites del contenedor */
  margin: -5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1%;
}

.banner {
  background-image: url(/img/banner-fondo-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner .container-logo {
  text-align: center;
  padding: 15rem 0;
}
.banner .container-logo img {
  height: 70px;
}
.banner .container-logo h2 {
  font-size: 5rem;
}

body {
  margin: 0;
  padding: 0;
}

.galeria {
  background-color: rgb(255, 251, 245);
  position: relative;
}

.section {
  display: none;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

.section.active {
  display: block;
}
.section.active h4 {
  text-align: center;
}
.section.active .fila-superior {
  display: flex;
  flex-direction: row;
}
.section.active .fila-superior .container-texto {
  width: 35%;
  padding: 5rem;
}
.section.active .fila-superior .container-galeria-apto {
  width: 65%;
}
.section.active .fila-superior .container-galeria-apto swiper-container {
  margin: 1rem auto;
  width: 80%;
}
.section.active .fila-superior .container-galeria-apto swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
.section.active .fila-inferior {
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}
.section.active .fila-inferior .container-foto-edificio {
  width: 50%;
}
.section.active .fila-inferior .container-foto-edificio img {
  max-width: 100%;
}
.section.active .fila-inferior .container-planos {
  width: 50%;
}
.section.active .fila-inferior .container-planos img {
  max-width: 100%;
}