@charset "UTF-8";
body {
  font-family: "EB Garamond", serif;
  background-color: #dae9ee;
}
body h1 {
  font-size: 5rem;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-brand {
  font-size: 2.5rem;
  padding-left: 2rem;
}

a.nav-link {
  font-size: 1.2rem;
}

a.nav-link:hover {
  text-decoration: underline;
}

.navbar {
  background: rgba(218, 233, 238, 0.05);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  -webkit-backdrop-filter: blur(12.8px);
  border: 1px solid rgba(218, 233, 238, 0.23);
  height: 4rem;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}
.navbar .logo-navbar {
  height: 2.2rem;
  margin-top: -8px;
}

.hero {
  display: flex;
}
.hero .containter-hero-titulo {
  width: 40%;
  text-align: left;
  padding: 10% 4% 0 8%;
}
.hero .containter-hero-titulo .animate__animated.animate__fadeIn {
  animation-duration: 3.5s;
}
.hero .containter-hero-titulo span {
  font-size: 4rem;
}
.hero .container-hero-galeria {
  width: 60%;
  display: flex;
  align-items: center;
}
.hero .container-hero-galeria .animate__animated.animate__fadeIn {
  animation-duration: 4s;
}
.hero .container-hero-imagen {
  overflow: hidden; /* Oculta contenido que exceda los límites del contenedor */
  margin: -5rem 0.5rem 0.5rem 0.5rem;
  border-radius: 1%;
}

.banner {
  background-image: url(/img/banner-fondo-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner .container-logo {
  text-align: center;
  padding: 15rem 0;
}
.banner .container-logo img {
  height: 70px;
}
.banner .container-logo h2 {
  font-size: 5rem;
}

.galeria {
  background-color: #dae9ee;
  position: relative;
}

.section {
  display: none;
  padding: 2rem 0;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
}

#prev-btn {
  left: 10px;
}

#next-btn {
  right: 10px;
}

.section.active {
  display: flex;
  flex-direction: column;
}
.section.active .fila-superior {
  display: flex;
  flex-direction: row;
  height: 50vh;
}
.section.active .fila-superior .container-texto {
  width: 35%;
  padding: 1rem 0 0 6rem;
  list-style-image: url(/img/checked.png);
}
.section.active .fila-superior .container-galeria-apto {
  width: 65%;
}
.section.active .fila-superior .container-galeria-apto swiper-container {
  margin: 1rem auto;
  width: 80%;
}
.section.active .fila-superior .container-galeria-apto swiper-container img {
  width: 100%;
}
.section.active .fila-superior .container-galeria-apto swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section.active .fila-inferior {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 1rem;
  height: 50vh;
}
.section.active .fila-inferior .container-planos {
  width: 35%;
  padding: 2rem;
  text-align: center;
}
.section.active .fila-inferior .container-planos img {
  align-self: center;
  width: 100%;
}

.timeline {
  padding: 3rem 0;
  background-image: url(/img/banner-fondo-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: blur(2px);
}
.timeline h3 {
  padding-top: 3rem;
  text-align: center;
  text-shadow: 0 0 5px rgb(255, 255, 255);
}
.timeline h4 {
  text-shadow: 0 0 5px rgb(255, 255, 255);
}
.timeline swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.timeline img {
  border-radius: 10%;
  border: 3px solid #dae9ee;
  height: 10rem;
}
.timeline iframe {
  border-radius: 5%;
}
.timeline .video-avance {
  padding-top: 1rem;
  text-align: center;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  z-index: -1;
}

.people {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 95vh;
  font-size: 1.3rem;
  text-shadow: 0 0 8px rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: hidden;
}
.people .container-formulario {
  position: relative;
  z-index: 1;
  width: 50%;
  padding: 6rem 6rem;
}
.people .container-formulario .boton-cotizacion {
  text-align: center;
}
.people .container-formulario .btn {
  font-size: 1.5rem;
}
.people .container-formulario .etiqueta-datos {
  font-size: 1rem;
}
.people .container-formulario label {
  background: rgba(218, 233, 238, 0.05);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.8px);
  -webkit-backdrop-filter: blur(12.8px);
}
.people .asesor {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.people .asesor img {
  height: 70%;
  border-radius: 5px;
  border: 3px solid #dae9ee;
}
.people .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/banner-fondo-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  animation: kenburns-top 10s ease-out infinite both;
  z-index: -1000;
}
.people .background-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: -1000;
}

@keyframes kenburns-top {
  0% {
    transform: scale(1) translateY(0);
    transform-origin: 50% 16%;
  }
  100% {
    transform: scale(1.25) translateY(-15px);
    transform-origin: top;
  }
}
.container-footer {
  background: #383c3d;
  color: #dae9ee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #dae9ee;
}
.container-footer img {
  filter: invert(1);
  width: 5.5rem;
  padding: 2rem 0 0 2rem;
}
.container-footer .container-logo {
  border: 1px solid #dae9ee;
}
.container-footer .container-logo h2 {
  padding: 1.5rem 0 1rem 2rem;
  font-size: 3rem;
}
.container-footer .container-logo p {
  padding: 0 0 0 2rem;
  font-size: small;
  margin: -0.2% 0;
}
.container-footer .container-footer-part {
  width: 25%;
}
.container-footer .container-footer-part h5 {
  padding: 3rem;
  font-size: 1.6rem;
}
.container-footer .container-footer-part ul {
  padding: 3rem;
  list-style: none;
}
.container-footer .container-footer-part a {
  text-decoration: none;
  color: #dae9ee;
  font-size: 1.1rem;
}
.container-footer .container-footer-part li {
  transition: transform 0.3s ease-in-out;
}
.container-footer .container-footer-part li:hover {
  transform: translateX(18px);
}
.container-footer .container-links {
  transition: background 1s ease-in-out, border 1s ease-in-out;
}
.container-footer .container-links:hover {
  background: linear-gradient(180deg, rgb(22, 24, 24) 0%, rgb(56, 60, 61) 50%, rgb(56, 60, 61) 100%);
}

.zonas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  text-shadow: 0 0 15px rgb(255, 255, 255);
}
.zonas .zonas-comunes-galeria {
  width: 50%;
  text-align: center;
  align-self: center;
}
.zonas .zonas-comunes-galeria img {
  width: 90%;
  height: 30rem;
  border-radius: 5px;
}
.zonas .zonas-comunes-texto {
  width: 50%;
}
.zonas .zonas-comunes-texto img {
  width: 60px;
  padding-right: 1rem;
}
.zonas .zonas-comunes-texto li {
  list-style: none;
  padding-top: 1rem;
  transition: transform 0.3s ease-in-out;
}
.zonas .zonas-comunes-texto li:hover {
  transform: translateX(18px);
}
.zonas .zonas-comunes-texto h4 {
  padding-top: 3rem;
  text-align: center;
  font-size: 2.5rem;
}
.zonas .zonas-comunes-texto span {
  font-size: 1.3rem;
}